// 10 variables
$absolute-position: absolute;
$blue: #0d6efd;
$display-block: block;
$feature: min-width;
$float-left: left;
$font-name: "Roboto Condensed";
$font-type: sans-serif;
$none: none;
$relative-position: relative;
$value: 576px;

// 2 mixins without arguments
@mixin font-related {
  font-family: $font-name, $font-type;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;
}

@mixin heading-related {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

// Mixin named make-column with a single $width argument
@mixin make-column($width) {
  width: $width;
}

// Create a list whose items are the numbers 1 through 12
$number-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

// Import
@import "nav";

// The rest of the code
body {
  background: #202020 url("/images/footer-bg.jpg") repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select {
  @include font-related;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-related;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: $none;
}

strong,
b {
  font-weight: bold;
  color: #000000;
}

em,
i {
  font-style: italic;
}

a {
  color: $blue;
}

sub {
  position: $relative-position;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: $relative-position;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

/* Nest all the header style rules for the following elements: 
 * h2
 * .byline
 */

header {
  margin-bottom: 2em;
  line-height: 1.7em;

  h2 {
    font-size: 2.5em;
  }

  .byline {
    display: $display-block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

/* Nest all the section and article style rules for the following elements:
 * :last-child
 */

section {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0;
  }
}

article {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: $none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

/* Nest all the .container style rules for the following classes:
 * .small
 * .big
 */

.container {
  @include make-column(1200px);
  margin-left: auto;
  margin-right: auto;

  &.small {
    @include make-column(900px);
  }

  &.big {
    @include make-column(100%);
    max-width: 1500px;
    min-width: 1200px;
  }
}

/* Nest all the .row style rules for the following elements: 
 * section
 * article
 * [class*="column-"]
 * :after
 */

.row {
  margin-left: -50px;

  section,
  article {
    margin-bottom: 0;
  }

  [class*="column-"] {
    padding: 50px 0 0 50px;
    float: $float-left;
    box-sizing: border-box;
  }

  &:after {
    content: "";
    display: $display-block;
    clear: both;
    height: 0;
  }
}

// Loop through the $number-list list
@each $number in $number-list {
  .column-#{$number} {
    @include make-column(100%);
  }
}

// Generate the rules dynamically while looping through the $number-list list
@media all and ($feature: $value) {
  @each $numbers in $number-list {
    .column-#{$numbers} {
      width: calc((100% / 12) * #{$numbers});
    }
  }
}

/* Nest all the .image style rules for the following elements:
 * img
 * .featured
 * .full
 * .left
 * .centered
 * .centered img
 */

.image {
  display: inline-block;

  img {
    display: $display-block;
    @include make-column(100%);
  }

  &.featured {
    display: $display-block;
    @include make-column(100%);
    margin: 0 0 2em 0;
  }

  &.full {
    display: $display-block;
    @include make-column(100%);
    margin-bottom: 2em;
  }

  &.left {
    float: $float-left;
    margin: 0 2em 2em 0;
  }

  &.centered {
    display: $display-block;
    margin: 0 0 2em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

/* Nest all the ul.default style rules for the following elements:
 * li
 * li:first-child
 * a
 * a:hover
 */

ul.default {
  margin: 0;
  padding: 0;
  list-style: $none;

  li {
    display: $display-block;
    padding: 2em 0em 1.25em 0em;
    border-top: 1px solid #303030;

    &:first-child {
      padding-top: 0em;
      border-top: $none;
    }
  }

  a {
    text-decoration: $none;
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Nest all the ul.style1 style rules for the following elements:
 * li
 * li:first-child
 */

ul.style1 {
  margin: 0;
  padding: 0;
  list-style: $none;

  li {
    padding: 0.6em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

/* Nest all the ul.style2 style rules for the following elements:
 * li
 * li:first-child
 * img
 */

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: $none;

  li {
    padding: 1.9em 0em 1.6em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }

  img {
    float: $float-left;
    padding-right: 1em;
  }
}

/* Nest all the ul.style5 style rules for the following elements:
 * li
 */

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: $none;

  li {
    float: $float-left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}

/* Nest all the .button style rules for the following elements:
 * :hover
 */

.button {
  position: $relative-position;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em 1.5em;
  background: $blue;
  border-radius: 6px;
  text-decoration: $none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #fff;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $blue;
    color: #fff !important;
  }
}

/* Nest all the .header style rules for the following elements:
 * .container
 */

.header {
  position: $relative-position;
  background: #fff;

  .container {
    position: $relative-position;
    padding: 4em 0em;
  }
}

/* Nest all the .logo style rules for the following elements:
 * a
 */

.logo {
  position: $absolute-position;
  left: 0em;
  top: 3em;

  a {
    display: $display-block;
    text-decoration: $none;
    font-size: 2.8em;
    font-weight: 600;
  }
}

.banner {
  position: $relative-position;
  padding: 12em 0em;
  background: url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.page {
  position: $relative-position;
  background: #fff;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

/* Nest all the .footer style rules for the following elements:
 * h2
 * strong
 */

.footer {
  position: $relative-position;
  color: rgba(255, 255, 255, 0.4);

  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: #fff;
  }

  strong {
    color: rgba(255, 255, 255, 0.7);
  }
}

/* Nest all the .copyright style rules for the following elements:
 * a
 */

.copyright {
  position: $relative-position;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);

  a {
    text-decoration: $none;
    color: rgba(255, 255, 255, 0.4) !important;
  }
}

/* Nest all the .marketing style rules for the following elements:
 * header h2
 */

.marketing {
  position: $relative-position;
  header {
    h2 {
      font-size: 1.6em;
    }
  }
}

/* Nest all the .featured style rules for the following elements:
 * .divider
 * .box
 */

.featured {
  position: $relative-position;

  .divider {
    border-bottom: 1px solid #303030;
  }

  .box {
    background: #fff;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

/* Nest all the .balloon style rules for the following elements:
 * strong
 */

.balloon {
  padding: 1.87em;
  background: url("/images/balloon-bg.jpg") repeat $float-left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: #333;

  strong {
    color: #333 !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}
